.helping-text{
    font-size: 10px;
    margin-top: 5px;
}
.text-align-right{
    text-align: right;
    margin-top: 10px;
    padding: 0px;
}
.submit{
   text-align: center;
    padding: 10px;
}

.custom-hover li:first-child{
    padding-left: 10px;
    /*border-bottom: 0.1px solid #fff666;*/
}

.custom-hover li:not(:first-child):hover{
    border-left: 3px solid orange;
}

.custom-hover li a{
    color: #DEEBFF;
}